$DEBUG_MODE: false;
$primary-color: var(--chakra-colors-blue-900);
$secondary-color: var(--chakra-colors-blue-500);

.component {
    align-content: center;
    align-items: center;
    background: $primary-color;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
    position: sticky;
    z-index: 100;

    @if($DEBUG_MODE ==true) {
        border: 1px solid red;
    }

    .navigation {
        color: white;

        @if($DEBUG_MODE ==true) {
            border: 1px solid red;
        }

        .separator {
            color: $secondary-color;

            @if($DEBUG_MODE ==true) {
                border: 1px solid red;
            }
        }

        .breadcrumbLink {
            font-weight: 600;
            font-size: 25px;

            @if($DEBUG_MODE ==true) {
                border: 1px solid red;
            }
        }

    }

    .actions {
        gap: 8px;

        @if($DEBUG_MODE ==true) {
            border: 1px solid red;
        }

        .button {
            size: 'lg';
            border-radius: 25px;
            color: secondaryColor;

            @if($DEBUG_MODE ==true) {
                border: 1px solid red;
            }

            &:hover {
                color: $primary-color;
                background-color: $secondary-color;
            }
        }
    }
}