// .markdown-container {
//     font-family: Arial, sans-serif;
//     line-height: 1.6;
//     color: #333;
// }

// .markdown-container h1,
// .markdown-container h2,
// .markdown-container h3 {
//     border-bottom: 2px solid #ddd;
//     padding-bottom: 0.3em;
// }

.markdown-container ul {
    list-style: disc inside;
    margin-left: 1em;
}

// .markdown-container code {
//     background-color: #f4f4f4;
//     padding: 0.2em 0.4em;
//     border-radius: 4px;
//     font-family: monospace;
// }

// .markdown-container pre {
//     background: #f9f9f9;
//     padding: 1em;
//     border-radius: 5px;
//     overflow-x: auto;
// }