$DEBUG_MODE: false;

.separator {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    @if($DEBUG_MODE ==true) {
        border: 1px solid red;
    }

    .svg {
        display: block;
        width: calc(100% + 1.3px);
        height: 90px;

        @if($DEBUG_MODE ==true) {
            border: 1px solid red;
        }
    }
}