$DEBUG_MODE: false;
$primary-color: var(--chakra-colors-blue-700);

.whoIm {
    padding: 70px;
    width: 100%;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @if($DEBUG_MODE ==true) {
        border: 1px solid red;
    }

    .header {
        color: white;

        @if($DEBUG_MODE ==true) {
            border: 1px solid red;
        }
    }

    .content {
        // backgroundColor: blue.700';
        padding: 20px;
        gap: 10px;
        width: 80%;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
        color: white;
        border-radius: 45px;
        font-size: 18px;

        @if($DEBUG_MODE ==true) {
            border: 1px solid red;
        }
    }
}